<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include cabecera.ejs %>
    <p>Welcome to <%= title %></p>

    <h2>Bucles</h2>
    <% usuarios.forEach(usuario => { %>
      <p>Usuario <%= usuario.nombre %> tiene <%= usuario.edad %> años</p>
    <% }) %>

<h2>Condicionales</h2>
<% if(paridad) { %>
  <p>El segundo actual es par</p>
<%} else { %>
  <p>El segundo actual es impar</p>
<%} %>

<p>Segundo actual: <%= segundoActual %></p>

  </body>
</html>
